*{
    box-sizing: border-box;
}

body {
    background-color: white;
}

.second-container {
    height: 33.44rem;
    width: auto;
    margin: 3.75rem 3.125rem;
    border-radius: 0.625rem;
    background-color: #C7D4EB;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
}

.third-container {
    min-height: 6.25rem;
    max-width: 18.75rem;
    background: white;
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 0.625rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);
}

.fourth-container {
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.text-container{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}

p {
    color: grey;
    font-size: 0.75rem;
    margin: 0 1.5rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}